build/
install/
log/
__pycache__/
*.pyc
.vscode/
.idea/
venv/
.venv/
.env
*.h5
*.pt
*.onnx
*.pth
!ros2_ws/src/projeto_bloco/modelos/*.pt
datasets/
*.bag
rosbag2*/
*.mp4
!ros2_ws/midia/demo.mp4
!ros2_ws/midia/alvos_dv20.mp4
*.zip
.DS_Store
Thumbs.db
